.header {
    background-image: url('../assets/header.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(19, 17, 17, 0.69);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    color: #fff;
    max-width: 44%;
}

.soon {
    font-weight: 800;
    text-transform: uppercase;
}