/*
 * disable auto-zoom on iphone input field focus 
 * http://www.456bereastreet.com/archive/201212/ios_webkit_browsers_and_auto-zooming_form_controls/
*/
#autolyse, #starter,
#salt, #water,
input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
	font-size: 16px;
}

/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px;
	}
}